<!-- Page Admin's see when deleting a user -->
<!-- Page Admin's see when deleting or adding a WorkID -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FileBoss Login</title>
        <link rel="stylesheet" href="/static/deleteUserstyle.css" />
    </head>

    <body>
        <!-- Border -->
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">
                    <!-- Logo Place Holder -->
                    <div class="logo"><img src="/static/logo.png" /></div>
                </div>

                <!-- Login Form -->
                <form action="{{url_for('login')}}" method="POST">
                    <div class="login-container">
                        <!-- Login Input Group -->
                        <div class="input-group">
                            <label for="WorkId">Enter Users WorkID:</label>
                            <input type="text" id="WorkId" name="WorkID" placeholder="Work ID" required="">
                        </div>
                        <!-- Login Button -->
                        <button class="login-btn" type="submit" value="Remove">Remove User</button>
                    </div>

                </form>

                <!-- Sign Up Option -->
                <div class="signup-container">
                    <p>Return to Admin Main Page</p>
                    <a href="/AdminMainPage"><button class="signup-btn">Go Back</button></a>
                </div>
            </div>
        </div>
    </body>

</html>
