<!-- Page Admin's see when deleting or adding a WorkID -->
<!DOCTYPE html>
<html>
<head>
    <title>Delete or Add WorkID</title>
    <link rel="stylesheet" type="text/css" href="css/deleteORaddWorkID.css">
</html>
<body>
    <div class="container">
        <h1>Delete or Add WorkID</h1>
        <p>Are you sure you want to delete this WorkID?</p>
        <form action="/deleteWorkID" method="POST">
            <input type="submit" value="Delete">
        </form>
        <p>Or would you like to add a WorkID?</p>
        <form action="/addWorkID" method="POST">
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>