<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="/static/Messages.css">
</head>
<body>
    <div class = "container">
        <h1>Your Messages</h1>

            {% for reply in replies %}
            <p class="reply-box">
                {{ reply[1] }}
                <form method="POST" action="/sendmessages">
                    <input type="hidden" name="role" value="{{reply[0]}}">
                    <button type="submit">View Conversation</button>
                </form>
            </p>
            {% endfor %}

        <a href="/main"><button type = "back">Back</button></a>
    </div>

</body>
</html> 