<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File Screen</title>

</head>
<body>

        <div class = "uploadfile-container">
            <header class="header">
                <h3>Secure Document Management System</h3>
            </header>
            <div class = "header-lower">
                <img src='../static/FSU_Logo.jpg' alt="Logo" class="logo">
                <h1>Upload A File</h1>
            <div>
        <div>

    <div>
        <a href="{{url_for('main')}}">Home</a>
    <div class = "main-container">
        <div>
            <h2>Upload Your File</h2>
        </div>
        <form action="{{url_for('addfile')}}" method="POST">
            <input type="text" name="Title" placeholder="File Name">
            <textarea name="Description" placeholder="Description" rows="4"></textarea>
            <input type="submit" value="Upload">
        </form>
    </div>

</body>
</html>